<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/">Início</a>
      <a class="nav-item nav-link" href="/login">Postagens</a>
</nav>


<div class="details content">
    <br>
    <h2>Detalhes</h2>
    <hr>
    <strong>Categoria: </strong>{{report.category}}<hr>
    <strong>Endereço: </strong><br>
        <span>{{report.location.street}},{{report.location.number}}</span>
        <br>{{report.location.city}}<hr>
    <strong>Descrição</strong><br>
    {{report.description}}<br>

    <hr>
    <figure>
        <strong>Imagem</strong>
        <img class="img-fluid rounded-lg border mx-auto d-block" src="{{report.picture}}" alt="">
    </figure>    

</div>
