<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/">Início</a>
  </div>
  <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="/login">Entrar</a>
  </div>
</nav>


<div class="details content">
    <br>
    <h2>Detalhes</h2>
    <hr>
    <strong>Categoria: </strong>{{report.category}}<hr>
    <strong>Endereço: </strong><br>
        <span>{{report.location.street}},{{report.location.number}}</span>
        <br>{{report.location.city}}<hr>
    <strong>Descrição</strong><br>
    {{report.description}}
    <figure>
        <img class="rounded-lg border mx-auto d-block" src="{{report.picture}}" alt="">
    </figure>    

</div>

{{!-- 
const reportsSchema = new Schema ({
    owner_ID : Schema.Types.ObjectId,
    location: {
        street: String,
        number: Number,
        city: String,
        lat: Number,
        long: Number,
    },
    category: {
        type: String,
        enum: [
            "Iluminação - Item 01",
            "Iluminação - Item 02",
            "Iluminação - Item 03",
            "Iluminação - Item 04",
            "Saneamento - Item 01",
            "Saneamento - Item 02",
            "Saneamento - Item 03",
            "Saneamento - Item 04",
        ]
    },
    picture: String,
    description: String,
    status: { type: Boolean, default: false },

       --}}
