<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/">Início</a>
    <a class="nav-item nav-link" href="/login">Postagens</a>
  </div>
</nav>

<br>

<div class="content">
    <br>
    <h2>Detalhes</h2>
    <hr>
    <strong>Categoria: </strong>{{report.category}}<hr>
    <strong>Endereço: </strong><br>
        <span>{{report.address.street}}, {{report.address.number}}</span>
        <br>{{report.address.city}}<hr>
    <strong>Descrição</strong><br>
    {{report.description}}<br> <hr>
        <strong>Postado por:</strong><br>
    {{nameOfUser.name}} 
    <br> 
    E-mail: {{nameOfUser.email}}<br>

    <hr>
    <figure>
        <strong>Imagem</strong>
        <img class="img-fluid rounded-lg border mx-auto d-block" src="{{report.picture}}" alt="">
    </figure>    

</div>
