

<h1>Novo problema</h1>

<form action="/auth/edit/{{report.id}}" method="post">
   
  <label>Categoria:
    <select name="category" value="{{report.category}}">
      <option value="Iluminação - Item 03">Iluminação - Item 01</option>
      <option value="Iluminação - Item 02">Iluminação - Item 02</option>
      <option value="Iluminação - Item 01">Iluminação - Item 03</option>
      <option value="Iluminação - Item 04">Iluminação - Item 04</option>
      <option value="Saneamento - Item 01">Saneamento - Item 01</option>
      <option value="Saneamento - Item 02">Saneamento - Item 02</option>
      <option value="Saneamento - Item 03">Saneamento - Item 03</option>
      <option value="Saneamento - Item 04">Saneamento - Item 04</option>
    </select>
  </label><br>

  <h3>Endereço: </h3>
  <label>Rua:
    <input type="text" name="street" value="{{report.location.street}}"><br>
  </label><br>

  <label>Número:
    <input type="text" name="number" value="{{report.location.number}}"><br>
  </label><br>

  <label>Cidade:
    <input type="text" name="city" value="{{report.location.city}}"><br>
  </label><br>


  <label>Descrição:
    <input type="text" name="description" value="{{report.description}}"><br>
  </label><br>

  {{!-- <label>Foto:
    <input type="file" name="picture">
  </label> --}}

  <button type="submit">Registrar</button>
</form>