<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="/allreports">Início</a>
    <a class="nav-item nav-link" href="/dashboard">Editar</a>
    <a class="nav-item nav-link" href="/new-report">Reportar</a>
  </div>
  <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="/logout">Sair</a>
  </div>
</nav>

<br>
<br>



<div class="content form btn-secondary">
  <p align="center" class="col-form-label"><strong>Nova Postagem</strong></p>
  <form action="/edit/{{report.id}}" method="post" >
    <label class="col-form-label" name="category" value="{{report.category}}">Categoria:</label>
      <select name="category" class="form-control">
        <option value="Rede de Água">Rede de Água</option>
        <option value="Rede de Esgoto">Rede de Esgoto</option>
        <option value="Rede Elétrica">Rede Elétrica</option>
        <option value="Iluminação da via">Iluminação da via</option>
        <option value="Calçadas">Calçadas</option>
        <option value="Via pública">Via pública</option>
        <option value="Pessoas">Pessoas</option>
        <option value="Outros">Outros</option>
      </select>
    <br>

    <label  class="form-group">Rua:</label>
      <input type="text" name="street" value="{{report.address.street}}" class="form-control">

    <label>Número:</label>
      <input type="text" name="number" value="{{report.address.number}}" class="form-control">

    <label>Cidade:</label>
      <input type="text" name="city" value="{{report.address.city}}" class="form-control">

    <label>Descrição:</label>
      <input type="text" name="description" value="{{report.description}}" class="form-control">

    <br>
      <input type="hidden" name="latitude" id="placeLatitude" placeholder="latitude">
      <input type="hidden" name="longitude" id="placeLongitude" placeholder="longitude">
    <button type="submit" class="btn btn-sm btn-block btn-dark">Editar postagem!</button>
  </form>

</div>